@charset "UTF-8";

body{
    background-image: linear-gradient(to bottom, #0897B4, #4CABA6);
    background-attachment: fixed;
}

main{
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 5px #3b5e5496;
    border-radius: 5px   
}

h1{
    text-align: center;
    color: #04BF8A ;
    text-shadow: 1px 1px #343d3b;
}

h2{
    color: #025940;
}
p{
    text-align: justify;
}